<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include _head_links %>
	<title>Weather</title>
</head>
<body>
	<% include _nav_bar %>

	<div class="main">
		
		<div class="container">
			<div class="header-text text-center">
				<h1>Welcome to PC Weather!</h1>
			</div>
			<div>
				<ul>
					<li>
						<p>Get the weather conditions of a specified location using the search bar at the top</p>
						<ul>
							<li><p>Retrieve the forecast for the upcoming week</p></li>
							<li><p>High and Low for each day</p></li>
							<li><p>History graph for the previous three days' temperature and precipitation %</p></li>
						</ul>
					</li>
					<li>
						<p>Not registered?</p>
						<ul>
							<li>Register now to be able to track your last 5 most recent searches</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	<% include _console_scripts %>
</body>
</html>