<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include _head_links %>
	<title>Weather</title>
</head>
<body>
	<% include _nav_bar %>
	
	<div class="main">
		
		<div class="container text-center">
			<div class="row location-name">
				<div class="col col-xs-12">
					<h1><%= address %></h1>
				</div>
			</div>
		</div>
		
		<div class="container text-center">
			<% include _current_conditions %>
		</div>

		<div class="container text-center">
			<% include _forecast_info %>
		</div>

		<div class="container">
			<% include _weather_history %>
		</div>
	
	</div> <!-- end .main -->
	

	<% include _console_scripts %>

	<script type="text/javascript">
		var coords = <%- JSON.stringify(coords) %> // for ajax call; weather_graph.js
	</script>
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="js/weather_graph.js"></script>
</body>
</html>